
<div class="{{dag}}">

	<div class="goochelcont">

		<a href="#profiel/{{id}}">
			<div class="fotomask">
				<img class="img" src="uploads/images/{{photo}}.{{extension}}" alt="{{photo}}" />
			</div>
		</a>

		<div class="center">
			<a class="profielbtn" href="#profiel/{{id}}">{{email}}</a>
		</div>

		<p class="kalendericon">{{dag}}</p>
		<p class="plaatsicon">{{plaats}}</p>
			<div class="center">
				{{#if showButton}}
				<a class="btn" href="#beoordelen/{{id}}">score geven</a>
				{{/if}}

			</div>

	</div>

</div>
