<div class="menubtn"></div>

<div class="profiel">


	<div class="title">
		<header>
			<h1>Profiel pagina</1>
		</header>
	</div>
	
	<div class="profielcont">

		<a href="#profiel/{{id}}">
			<div class="fotomask_profiel">
				<img class="img" src="uploads/images/{{photo}}.{{extension}}" />
			</div>
		</a>

	</div>

	<div class="adrescont">

		<p class="naamicon">{{email}}</p>
			
		<p class="plaatsicon">{{plaats}}</p>
		<p class="postcodeicon">{{postcode}}</p>
		<div class="floatnon"></div>
		<p class="straaticon">{{straat}}</p>
		<p class="nummericon">{{huisnr}}</p>
		<div class="floatnon"></div>

	</div>


		<div class="profiel-programma">
			
			<h2 class="sub-programma">Programma</h2>

			
			<h3 class="intro">Intro Goocheltruc</h3>
			<p>{{intro}}</p>

			<h3 class="main">Intro Goocheltruc</h3>
			<p>{{main}}</p>	

			<h3 class="finale">Finale Goocheltruc</h3>
			<p>{{finale}}</p>

		</div>

</div>
	
